{{#each this}}
<div class="countries-card">
    <h2 class="countries-name">{{name}}</h2>
    <div class="countries-card_block_img">
        <img class="countries-card_img" src="{{flag}}" alt="{{name}}">
    </div>
    <ul class="countries-card_list">
        <li class="countries-card_list_item">
            <p class=""><span class="countries-card_list_spanText">Capital:</span> {{capital}}</p>
        </li>
        <li class="countries-card_list_item">
            <p class="countries-card_list_text"><span
                    class="countries-card_list_spanText">Population:</span>{{population}}</p>
        </li>
        <li class="countries-card_list_item">
            <p class="countries-card_list_text"><span class="countries-card_list_spanText">Languages:</span>
            <ul class="list-languages">
                {{#each this.languages}}
                <li class="list-languages_item">
                    <p class="list-languages-text">{{this}}</p>
                </li>
                {{/each}}
            </ul>
            </p>
        </li>
    </ul>
</div>
{{/each}}